<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/style.css"/>
    <script type="text/javascript" src="/resources/script.js"></script>
    <title th:text="#{post}"></title>
</head>
<body>
<th:block th:insert="~{login/loginInfo :: userinfo}"></th:block>
<div>
    <table>
        <caption th:text="#{post}"></caption>
        <tr>
            <th id="writerUserId-text" th:text="#{writerUserId}"></th>
        </tr>
        <tr>
            <th id="writerUserId"><a th:href="@{/user/view-user(userId=${post.user.id})}" th:text="${post.user.id}"></a></th>
        </tr>
        <tr>
            <th id="title-text" th:text="#{title}"></th>
        </tr>
        <tr>
            <th id="title" th:text="${post.title}"></th>
        </tr>
        <tr>
            <th id="content-text" th:text="#{content}"></th>
        </tr>
        <tr>
            <th id="content" th:text="${post.content}"></th>
        </tr>
    </table>
</div>
<div th:if="${session.id == post.user.id}">
    <a th:href="@{/user/edit-post(postId=${post.id})}" th:text="#{edit}"/></br>
    <a th:href="@{/user/delete-post(postId=${post.id})}" th:text="#{delete}"/></br>
</div>
<div>
    <a th:href="@{/user/post-list(size=10,page=0)}" th:text="#{home}"></a>
</div>
</body>
</html>