<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" src="/resources/script.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/style.css"/>
    <title th:text="#{main}"></title>
</head>
<body>
<th:block th:insert="~{login/loginInfo :: userinfo}"></th:block>
<div>
    <a th:href="@{/admin/user-list(size=10,page=0)}" th:text="#{user-list}"></a>
    <a th:href="@{/admin/add-user}" th:text="#{add-user}"></a>
</div>
</body>
</html>