<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/style.css"/>
    <script type="text/javascript" src="/resources/script.js"></script>
    <title th:text="#{user-list}"></title>
</head>
<body>
<th:block th:insert="~{login/loginInfo :: userinfo}"></th:block>
<div>
    <table>
        <caption th:text="#{user-list}"></caption>
        <thead>
        <tr>
            <th id="id" th:text="#{id}"></th>
            <th id="name" th:text="#{name}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${pagedUsers.getContent()}">
            <td><a th:href="@{/admin/view-user/{userId}(userId=${user.id})}" th:text="${user.id}"></a></td>
            <td th:text="${user.name}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin}" th:text="#{home}"></a>
</div>
<div>
    | <a th:each="i : ${#numbers.sequence(0, pagedUsers.getTotalPages()-1)}" th:href="@{/admin/user-list(page=${i},size=10)}"
         th:text="${i+1} "></a> |
</div>
</body>
</html>