<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>주민 목록</title>
    <link rel="stylesheet" href="/WEB-INF/style.css"/>
</head>
<body>

<h1>주민 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>주민 번호</th>
        <th>이름</th>
        <th>성별</th>
        <th>주민등록번호</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resident : ${residents}">
        <td><a th:href="@{/residents/{serialNumber}(serialNumber=${resident.getResidentSerialNumber()})}"
               th:text="${resident.getResidentSerialNumber()}"></a></td>
        <td th:text="${resident.getName()}"></td>
        <td th:text="${resident.getGender()}"></td>
        <td th:text="${resident.getResidentRegistrationNumber()}"></td>
        <td><a th:href="@{/residents/{serialNumber}/delete(serialNumber=${resident.getResidentSerialNumber()})}"
               th:text="삭제"></a></td>
    </tr>
    </tbody>
</table>
<div class="page">
    <a th:href="@{./residents(page=${residents.getNumber()-1}, size=${residents.getSize()})}"
       th:if="${residents.getNumber() > 0}">이전</a>
    <span th:text="${residents.getNumber()}"/>/<span th:text="${residents.getTotalPages()-1}"/>
    <a th:href="@{./residents(page=${residents.getNumber()+1} , size=${residents.getSize()}  )}"
       th:if="${residents.getNumber() < residents.getTotalPages()}">다음</a>
</div>
</body>
</html>