table, tr, th, td{
    border-style: dashed;
    width: 500px;
    margin: auto;
    font-size: 10px;
}
div{
    text-align: center;
    border-style: groove;
    padding: 50px;
}
th{
    background-color: pink;
}
p{
    color : pink;
}
h1{
    text-align: center;
}
#loginSuccessContainer{
    display: none;
}
#loginFormContainer{
    display: block;
}