<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user-info}"></title>
    <link rel="stylesheet" href="/resources/style.css"/>
    <script type="text/javascript" src="/resources/script.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
<th:block th:insert="~{login/loginInfo :: userinfo}"></th:block>
<div>
    <form method="post" action="/profile" th:object="${userRequest}" enctype="multipart/form-data">
        <table>
            <caption th:text="#{add-user}"></caption>
            <tbody>
                <th id="id" th:text="#{id}"></th>
                <td>
                    <input type="text" th:field="*{id}"/>
                </td>
            </tr>
            <tr>
                <th id="password" th:text="#{password}"></th>
                <td>
                    <input type="text" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <th id="name" th:text="#{name}"></th>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <th id="profile" th:text="#{profile}"></th>
                <td>
                    <input type="file" name="image" accept="image/jpeg"></td>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <button type="submit" th:text="#{add-user}"></button>
        </p>
    </form>
</div>
</body>
</html>
