<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/style.css"/>
    <script type="text/javascript" src="/resources/script.js"></script>
    <title th:text="#{user-info}"></title>
</head>
<body>
<th:block th:insert="~{login/loginInfo :: userinfo}"></th:block>
<div>
    <table>
        <caption th:text="#{user-info}"></caption>
        <tr>
            <th id="id-text" th:text="#{id}"></th>
            <th id="id" th:text="${user.id}"></th>
        </tr>
        <tr>
            <th id="password-text" th:text="#{password}"></th>
            <th id="password" th:text="${user.password}"></th>
        </tr>
        <tr>
            <th id="name-text" th:text="#{name}"></th>
            <th id="name" th:text="${user.name}"></th>
        </tr>
        <tr>
            <th id="profile-text" th:text="#{profile}"></th>
            <th id="profile"><img alt="profile" th:src="@{/profile(id=${user.id})}"/></th>
        </tr>
    </table>
    <a th:href="@{/admin/edit-user/{userId}(userId=${user.id})}" th:text="#{edit}"/></br>
    <a th:href="@{/admin/delete-user/{userId}(userId=${user.id})}" th:text="#{delete}"/></br>
    <a href="/admin/user-list" th:text="#{user-list}"/>
</div>

</body>
</html>